@font-face {
  font-family: bpg_glaho;
  src: url(./resource/fonts/bpg_glaho.ttf);
}



.container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: bpg_glaho;
  background-color: bisque;
  width: 50%;
  margin: 0 auto 0 auto;
  padding-top: 2%;
}